{% extends 'base.html' %}
{% load static %}

{% block content %}

    <p style="color: orange">This is a secret page!</p>
    <p id="group"></p>

    <div id="graph"></div>


{% endblock %}

{% block ext_js %}
    {{ block.super }}

    <script type="text/javascript">
        var group = "{{ user.groups.all }}"
    </script>

    <script type="text/javascript" src="{% static 'js/group.type.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/d3_v3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/d3_test.js' %}"></script>

{% endblock %}